.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}
.image_block{
    display: inline;  
}

img{
    max-width: 20rem;
    margin:1rem;
}