<h1> IMAGE GALLERY</h1>


<% @images.each do |image| %>
    <%= link_to(image_path(image)) do %>
        <img class= 'image_block' src=<%= image.url%> alt=<%=image.alt%> caption=<%=image.caption%>/>
    <% end %>
<% end %>
