<img src='<%=@image.url%>'/>
<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong> Alt: </strong>
  <%= @image.alt %>
</p>

<p>
  <strong> Caption: </strong>
  <%= @image.caption %>
</p>